/* About.css */

.tile {
  /* Your square styles here */
  /* Example styles: */
  /* background-size: 200%; */
  /* background-repeat: no-repeat; */

  /* transition: 0.5s ease-out;
  transition-delay: 0.2s;
  transform-origin: center;
 */

}

.tile:hover {
  transform: scale(1.5);
  /* transform: translate(-50vw, 0); */
  opacity: 1;
  /* filter: none !important */
}

.photoSlice {
  /* Styles for the container holding the squares */
  /* You can set a fixed height, background, or other styles here */
}
